@import "tailwindcss";

@layer utilities {
  @keyframes expandHeight {
    0% { height: 0; }
    100% { height: 100%; }
  }

  .animate-expandHeight {
    animation: expandHeight 0.5s ease-out forwards;
  }

@keyframes scroll {
  0%   { transform: translateZ(0); }
  100% { transform: translate3d(-50%, 0, 0); }
}

 .slide-track {
  display: inline-flex;
  animation: scroll 10s linear infinite;
  will-change: transform;
}
}